@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;600&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

nav{
    width: 100%;
    height: 80px;
}

.logo{
    margin: 5px 0 0 180px;
    height: 70px;
}

nav ul{
    float: right;
    margin-right: 180px;
}

nav ul li{
    font-weight: 600;
    display: inline-block;
    line-height: 80px;
}

nav ul li a{
    color: #000000;
    font-size: 20px 5px;
    padding: 5px 13px;
}
.tmenu:hover{
    padding: 5px 10px;
    background-color: #F53A50;
    color: #FFFFFF;
    border-radius: 15px;
    transition: 0.5s;
}

.secpri{
    background-image: url(secprim.png);
    width: 100%;
    height: 90vh;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.secpri h1,.secpri p,.secpri button{
    margin-top: 15vh;
    margin-left: 40vh;
}

.secpri h1{
    color: #FFFFFF;
    font-size: 60px;
}

.secpri p{
    color: #FFFFFF;
    font-size: 20px;
    line-height: 30px;
    margin-top: 4vh;
}

.secpri button{
    background-color: #FFFFFF;
    color: #F53A50;
    border-style: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    padding: 20px;
    margin-top: 4vh;
    border-radius: 10px;
}

.secpri button:hover{
    background-color: #F53A50;
    color: #FFFFFF;
    transition: 0.2s;
}

.secseg h2{
    color: #F53A50;
    text-align: center;
    font-size: 45px;
    padding: 40px;
}

.secseg{
    height: 105vh;
}

.contcards{
    display: flex;
    justify-content:space-evenly;
}

.card{
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 0px 1px 10px #FC697B;
    transition: all 400ms ease;
}

.textcard:hover{
    transform: translateY(-3%);
    transition: all 400ms ease;
}

.textcard h3{
    color:#F53A50;
    margin-bottom: 15px;
}

.textcard p{
    font-weight: 600;
    font-size: 15px;
    line-height: 1.5;
    width: 270px;
    margin-bottom: 25px;
}

.textcard a{
    background-color: #F53A50;
    color: #FFFFFF;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 12px;
}

.textcard a:hover{
    background-color: #FC697B;
    color: #FFFFFF;
    transition: 0.2s;
}

.terseg{
    padding: 12vh;
    background: #C94970;
    background-image: linear-gradient(29deg, #C94970 0%, #AB1367 0%, #F53A50 83.88776779174805%, #FC697B 95.43895721435547%);
}

.textoyboton {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textoyboton h2{
    font-size: 40px;
    margin-bottom: 35px;
}

.textoyboton p{
    text-align: center;
    width: 300px;
    margin-bottom: 35px;
}

.textoyboton a{
    background-color: #FFFFFF;
    color: #F53A50;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
}

.textoyboton a:hover{
    background-color: #F53A50;
    color: #FFFFFF;
    transition: 0.2s;
}

.cuarseg{
    position: relative;
    width: 100%;
    height: 65vh;
}

.cuarimg{
    width: 100%;
    height: 100%;
}

.cuarseg .textopome{
    color: #FFFFFF; 
    font-size: 50px;
    position: absolute;
    top: 25%; 
    left: 50%;
}

.cinseg{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
}

.mitizq{
    max-width: 50%;
    margin-top: 6vh;
    display: flex;
    flex-direction: column;
}

.mitizq h2{
    color: #F53A50;
    font-size: 50px;
    margin-top: 10vh;
}

.mitizq p{
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    max-inline-size: 360px;
    margin-top: 5vh;
}

.mitder{
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

.bloque{
    background-color: #FFFFFF;
    height: 15vh;
    width: 23vw;
    box-shadow: 0px 1px 10px #FC697B;
    margin-top: 60px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.bloque h3{
    font-size: 16px;
    margin-left: 40px;
}

.bloque p{
    max-inline-size: 300px;
    font-size: 16px;
    margin-left: 40px;
}

.cinseg img{
    position: absolute;
    z-index: 2;
    border-radius: 5px;
    left: 58.5%;
    margin-top: 8px;
}

.rectrosa{
    background-color: #C94970;
    background: linear-gradient(310deg, #C94970 0%, #FC697B 100%);
    width: 350px;
    height: 90vh;
    position: absolute;
    z-index: -1; 
    left: 70%;
    border-radius:0 0 200px 0;
}

.sextaseg{
    width: 100%;
    height: 90vh;
    background-color: #FFF5F6;
}

.sextaseg h2{
    color: #F53A50;
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding: 55px  ;
}

.contseg{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    max-width: 90%;
    margin-left: 16vh;
}

.textseg h3{
    color: #F53A50;
    font-size: 30px;
}

.textseg p{
    line-height: 25px;
    font-weight: 600;
}

.sextaseg img{
    width: 8%;
    position: relative;
    left: 10%;
}


